body {
    background-color:#2d2d37;
}

.task {
    background-color: purple;
    width: 45%;
    text-align: left;
    margin: .4rem 0;
    padding-left: 1rem;
    color: white;
    cursor: pointer;
}

.task.completed {
    background-color: indigo;
    text-decoration: line-through;
    color: white;
}